<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.BandMapper">

    <insert id="insertOne" parameterType="Band" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO band (id, name, nickname, description, created_at)
        VALUES (#{id}, #{name}, #{nickname}, #{description}, #{created_at})
    </insert>

    <select id="selectAll" resultType="map">
        SELECT no, name, nickname, description, id, is_public AS isPublic, created_at
        FROM band
        ORDER BY created_at DESC
    </select>

    <select id="selectByArticleNo" parameterType="int" resultType="map">
        SELECT no, name, nickname, description, id, is_public, created_at
        FROM band
        WHERE no = #{bandNo}
    </select>

    <select id="selectLastInsertId" resultType="int">
        SELECT LAST_INSERT_ID()
    </select>

    <update id="bandPublic" parameterType="map">
        UPDATE band
        SET is_public = #{isPublic}
        WHERE no = #{bandNo}
    </update>

    <update id="bandPrivate" parameterType="int">
        UPDATE band
        SET is_public = FALSE
        WHERE no = #{bandNo}
    </update>

</mapper>
