<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.BandMapper">

    <insert id="insertOne" parameterType="map" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO band (name, nickname, description, id, created_at)
        VALUES (#{name}, #{nickname}, #{description}, #{id}, NOW())
    </insert>

    <select id="selectLastInsertId" resultType="int">
        SELECT LAST_INSERT_ID()
    </select>

    <update id="bandPublic" parameterType="map">
        UPDATE band
        SET is_public = #{isPublic}
        WHERE no = #{bandNo}
    </update>

    <update id="bandPrivate" parameterType="int">
        UPDATE band
        SET is_public = FALSE
        WHERE no = #{bandNo}
    </update>

</mapper>
