<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.example.bandproject.model"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://database-1.cvkqiwea22jn.ap-northeast-2.rds.amazonaws.com:3306/bandProject"/>

                <property name="username" value="admin"/>
                <property name="password" value="miseon8976!"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/MemberMapper.xml"/>
        <mapper resource="mappers/ArticleMapper.xml"/>
        <mapper resource="mappers/ArticleLikeMapper.xml"/>
        <mapper resource="mappers/CommentMapper.xml"/>
        <mapper resource="mappers/BandMapper.xml"/>



    </mappers>
</configuration>